.App {
  font-family: sans-serif;
  text-align: center;
  color: hex #c97d60;
}

.Nav {
  font-family: sans-serif;
  text-align: center;
  color: hex #262322;
  text-decoration: white;
}

.Footer {
  font-family: sans-serif;
  text-align: center;
  color: hex #63372c;
}

ul {
  list-style-type: none;
  padding: 2px;
  border: 5px;
}
